<div id="beers-list">
    <!-- <div class="container"></div>
        <div class="beer-img">
            <img src="./../images/default.jpg" alt="" srcset="">
        </div>
        <div class="beer-info">
            <div class="beer-name">
                <h2>Ejemplo</h2>
            </div>
            <div class="beer-desc">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque et obcaecati alias corrupti rem similique
                    accusantium modi veritatis, incidunt nihil sed eveniet placeat, suscipit doloribus omnis, saepe asperiores
                    cupiditate quidem?
                </p>
            </div>
            <div class="beer-ingredients">
                <ul>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                    <li>A</li>
                </ul>
            </div>
            <div class="beer-price">
                <p>10 $</p>
            </div>
            <div class="beer-likes">
                <i class="fas fa-thumbs-up"></i>
                <span>5</span>
            </div>
            <div class="beer-comments">
                <i class="fas fa-comment"></i>
                <span>3</span>
            </div>
        </div>
    </div> -->
</div>