@import "variables";
@import "responsive";
@import "reset";
@import "navbar";
@import "main";
@import "beer";
@import "beer-detail";
@import "year-picker";

*, h1 {
    font-family: 'Raleway', sans-serif;
    font-size: $primary-font-size;
    color: $primary-color-text;
}

body, html {
    height: 100%;
    margin: 0;
}




